@import './assets/fonts/fonts.css' screen;
    
* {
    font-family: Lato, sans-serif;
}

body {
    margin: 0;
}

.wrapper {
    width: 940px;
    margin: 0 auto;
}

.portfolio {
    display: flex;
    flex-direction: row; 
    justify-content: flex-start; 
    background-color: #2d303a;
    padding-top: 47px;
    border-bottom: 6px solid #323746;
}

.about {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 46px;
    padding-bottom: 65px;
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
}

.persons {
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    margin-top: 43px;
}

.person {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    width: 300px;
}

.person-image {
    width: 300px;
    height: 300px;
}

.portfolio-items {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 19px;
    padding-bottom: 47px;
}

.portfolio-image {
    width: 220px;
    height: 187px;
    padding-bottom: 20px;
}

.portfolio-image:nth-child(n+13) {
    display: none;
}

.title {
    font-size: 30px;
    line-height: 11px;
    font-weight: 900;
    line-height: 18px;
    letter-spacing: 0.3px;
    color: #666d89;
}

.description {
    color: #767e9e;
    font-size: 18px;
    line-height: 12px;
    letter-spacing: -0.34px;
    padding-top: 10px;
}

.about-description {
    color: #767e9e;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.34px;
    text-align: justify;
    margin-top: 26px;
}

.person-name {
    font-size: 19px;
    line-height: 18px;
    font-weight: 760;
    margin-top: 19px;
    letter-spacing: -0.55px;
    color: #666d89;
    white-space: nowrap;
    overflow: hidden;
}

.person-description {
    color: #767e9e;
    font-size: 12px;
    line-height: 21px;
    margin-top: -6px;
    text-align: justify;
}

.contacts {
    display: flex;
    justify-content: start;
    color: #666d89;
    margin-top: 10px;
}

.contacts__img {
    margin-right: 6px;
    cursor: pointer;
}

.btn {
    color: #767e9e;
    border: 1px solid #666d89;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
    line-height: 18px;
    font-size: 12px;
    margin-right: 7px;
    font-weight: 530;
}

.btn:hover {
    border: 1px solid #c5c5c5;
    color: #dedede;
}