    @import './assets/fonts/fonts.css' screen;
    
    * {
      font-family: Lato, sans-serif;
    }
    
    html {
      scroll-behavior: smooth;
    }
    
    body {
      margin: 0;
    }

    .header {
      background-color: #2d303a;
      border-bottom: 6px solid #323746;
      position: sticky;
      top: 0;
      z-index: 3;
    }
    
    .slider {
      background-color: #f06c64;
      border-bottom: 6px solid #ea676b;
      transition: all ease 1s;
    }

    .slider-blue {
      background-color: #648bf0;
      border-bottom: 6px solid #348bf0;
      transition: all ease 1s;
    }

    .services {
      background-color: #f2f2f2;
      border-bottom: 6px solid #ffffff;
      display: flex;
      flex-direction: row; 
      justify-content: flex-start; 
    }

    .wrapper {
      max-width: 1000px;
      margin: 0 auto;
      padding-left: 30px;
      padding-right: 30px;
    }
    
    .header-box {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 16px 0 12px 0;
    }

    .header-navigation {
      padding-top: 7px;
    }

    .logo {
      color: #ffffff;
      font-size: 12px;
      font-weight: bold;
    }
 
    .logo__star {
      color: #f06c64;
    }
 
    .header-menu {
      display: flex; 
      flex-direction: row; 
      justify-content: flex-start; 
    }

    .header-menu__item {
      margin-left: 14px;
      color: #494e62;
      font-weight: bold;
      font-size: 12px;
      list-style: none;
    }

    .header-menu__item:not(:first-child)::before {
      align-items:center;
      content: "";
      display: inline-block;
      width: 3px;
      height: 3px;
      background-color: currentColor;
      border-radius: 50%;
      margin-right: 11px;
      margin-bottom: 3px;
      letter-spacing: -0.9px;
    }

    .header-menu__link {
      text-decoration: none;
      color: #ffffff;
    }
    
    .header-menu__link:hover {
      color: #f06c64;
    }

    .header-menu_active {
      color: #f06c64;
    }

    .slider-items {
      position: relative;
      overflow: hidden;
      max-width: 940px;
      height: 585px;
    }

    .slider-items__left-arrow {
      position: absolute;
      top: 50%;
      opacity: 0.3;
      z-index: 1;
    }

    .slider-items__right-arrow {
      position: absolute;
      z-index: 1;
      top: 50%;
      right: 0%;
      opacity: 0.3;
      -webkit-transform: scaleX(-1);
    }

    .slider-image {
      position: absolute;
      width: 940px;
      height: 100%;
      transition: all ease 1s;
    }

    .first-image {
      display: flex;
      justify-content: space-between; 
      align-items: center;
      padding-left: 80px;
      padding-right: 80px;
      padding-top: 53px;
    }

    .arrow_hover {
      cursor: pointer;
    }

    .left-phone-switcher {
      position: absolute;
      width: 215px;
      height: 460px;
      border-radius: 27px;
      background-color: rgba(90, 190, 90, 0);
      top: 52px;
      left: 80px;
      cursor: pointer;
    }

    .right-phone-switcher {
      position: absolute;
      width: 459px;
      height: 215px;
      border-radius: 27px;
      background-color: rgba(90, 190, 90, 0);
      top: 175px;
      left: 376px;
      cursor: pointer;
    }

    .left-phone-black-screen {
      position: absolute;
      width: 190px;
      height: 335px;
      background-color: black;
      border-radius: 1px;
      top: 117px;
      left: 93px;
    }

    .right-phone-black-screen {
      position: absolute;
      width: 335px;
      height: 190px;
      background-color: black;
      top: 188px;
      left:435px;
      border-radius: 1px;
    }

    .hidden {
      display: none;
    }

    .services {
      padding: 46px 0 42px 0;
      color: #666d89;
    }

    .services__title {
      font-size: 30px;
      line-height: 18px;
      font-weight: 900;
    }
    
    .services__description {
      font-weight: 300;
      font-size: 18px;
      line-height: 30px;
      text-align: justify;
      letter-spacing: -0.2px;
    }

    .services-items {
      display: flex;
      flex-direction: row; 
      justify-content: center;
      flex-wrap: wrap;
      margin-top: 30px;
      margin-right: -30px;
    }

    .services-item {
      display: flex;
      flex-direction: row; 
      justify-content: flex-start; 
      margin-bottom: 5px;
      margin-right: 30px;
    }

    .services-item__icon {
      width: 59px;
      height: 59px;
      margin-top: 15px;
      margin-right: 20px;
    }

    .services-item__title {
      font-size: 18px;
      font-weight: 900;
      margin-left: 1px;
      margin-top: 14px;
      margin-bottom: -4px;
    }

    .services-item__description {
      font-size: 12px;
      line-height: 21px;
      width: 220px;
      text-align: justify;
      overflow: hidden;
      max-height: 63px;
    }


    .portfolio {
      display: flex;
      flex-direction: row; 
      justify-content: flex-start; 
      background-color: #2d303a;
      padding-top: 47px;
      border-bottom: 6px solid #323746;
    }
    
    .about {
      display: flex;
      flex-direction: row; 
      justify-content: space-between;
      flex-wrap: wrap;
      padding-top: 46px;
      padding-bottom: 60px;
      background-color: #f2f2f2;
      border-bottom: 6px solid #ffffff;
    }
    
    .persons {
      display: flex;
      flex-direction: row; 
      justify-content: center; 
      flex-wrap: wrap;
      margin-top: 43px;
      margin-right: -20px;
    }
    
    .person {
      display: flex;
      flex-direction: column; 
      justify-content: flex-start; 
      min-width: 210px;
      width: calc(100% / 3 - 20px);
      margin-right: 20px;
    }
    
    .person-image {
      width: calc(100%);
    }
    
    .portfolio-items {
      display: flex;
      flex-direction: row; 
      justify-content: center;
      flex-wrap: wrap;
      padding-top: 19px;
      padding-bottom: 46px;
      margin-right: -20px;
    }

    .portfolio-image-active {
      outline: 5px solid #f06c64;
    }
    
    .portfolio-image {
      width: calc(25% - 20px);
      height: auto;
      margin-bottom: 20px;
      margin-right: 20px;
      cursor: pointer;
    }
    
    .portfolio-image:nth-child(n+13) {
      display: none;
    }
    
    .portfolio-title {
      font-size: 30px;
      line-height: 11px;
      font-weight: 900;
      line-height: 18px;
      letter-spacing: 0.3px;
      color: #666d89;
    }
    
    .portfolio-description {
      color: #767e9e;
      font-size: 18px;
      line-height: 12px;
      letter-spacing: -0.34px;
      padding-top: 10px;
    }
    
    .about-description {
      color: #767e9e;
      font-size: 18px;
      line-height: 30px;
      letter-spacing: -0.34px;
      text-align: justify;
      margin-top: 26px;
    }
    
    .person-name {
      font-size: 19px;
      line-height: 18px;
      font-weight: 760;
      margin-top: 19px;
      letter-spacing: -0.55px;
      color: #666d89;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    
    .person-description {
      color: #767e9e;
      font-size: 12px;
      line-height: 21px;
      margin-top: -6px;
      text-align: justify;
    }
    
    .contacts {
      display: flex;
      justify-content: start;
      color: #666d89;
      margin-top: 10px;
    }
    
    .contacts__img {
      margin-right: 6px;
      cursor: pointer;
      transition: .6s ease-out;
    }
    
    .contacts__img:hover {
      transform: scale(1.1);
      transform: rotate(360deg);
    }

    .btn {
      color: #767e9e;
      border: 1px solid #666d89;
      border-radius: 5px;
      cursor: pointer;
      background-color: transparent;
      line-height: 18px;
      font-size: 12px;
      margin-right: 7px;
      font-weight: 530;
    }
    .btn:focus {
      outline: none;
    }
    
    .btn:hover {
      border: 1px solid #c5c5c5;
      color: #dedede;
    }

    .btn__active {
      border: 1px solid #c5c5c5;
      color: #dedede;
    }

    .footer__contacts {
      display: flex;
      color: #666d89;
    }
    
    .footer__contacts:last-child {
      margin-right: -6px;
    }
    
    .contacts__img {
      margin-right: 6px;
      cursor: pointer;
    }
    
    .footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 21px;
      padding-bottom: 18px;
      color: #666d89;
      font-size: 12px;
    }
    
    footer {
      background-color: #2d303a;
    }
    
    .title {
      font-size: 30px;
      line-height: 11px;
      font-weight: 900;
      line-height: 18px;
      letter-spacing: -0.15px;
      color: #f0d8d9;
    }
    
    .description {
      color: #f0d8d9;
      font-size: 18px;
      line-height: 30px;
      letter-spacing: -0.34px;
      text-align: justify;
      margin-top: 26px;
    }
        
    .quote {
      padding-top: 46px;
      padding-bottom: 20px;
      background-color: #f06c64;
      border-bottom: 6px solid #ea676b;
    }   

    .quote-wrapper {
      display: flex;
      flex-direction: row; 
      flex-wrap: wrap;
      justify-content: center;
      margin-right: -20px;
      padding-top: 24px;
    }
    
    .form {
      display: flex;
      flex-direction: column;
      width: calc(65% - 20px);
      margin-right: 20px;
    }
    
    .contact-information {
      margin-right: 20px;
      width: calc(35% - 20px);
      color: #f0d8d9;
    }
    
    .contact-information__header {
      margin-block-start: -1px;
      letter-spacing: -0.05px;
      margin-block-end: -2px;
    }
    
    .contact-information__description {
      margin-top: 8px;
      font-size: 12px;
      line-height: 22px;
      letter-spacing: -0.1px;
      text-align: justify;
      hyphens: manual;
    }
    
    .input {
      font-size: 12px;
      font-weight: 400;
      line-height: 35px;
      border-radius: 5px;
      border: none;
      background-color: #d6564f;
      margin-bottom: 17px;
      padding-left: 15px;
      color: #f0d8d9;
    }
    
    .input::placeholder {
      color: #f48c8f;
    }
    
    .input-txt {
      height: 198px;
      resize: none;
    }
    
    .btn-submit {
      height: 38px;
      width: 136px;
      font-size: 12px;
      font-weight: bold;
      border-radius: 5px;
      border: none;
      background-color: #fbc65f;
      cursor: pointer;
      color: #886a30;
    }

    .popup {
      position: fixed;
      background-color: rgba(0, 0, 0, 0.9);
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: 99;
    }

    .popup__inside {
      position: fixed;
      border: 3px solid rgb(58, 58, 58);
      border-radius: 4px;
      background-color: rgb(202, 202, 202);
      left: 50%;
      top: 50%;
      padding: 20px;
      transform: translate(-50%, -50%);
    }
  
    .popup__text {
      max-width: 500px;
      max-height: 300px;
      overflow: hidden;
      text-align: justify;
      line-height: 20px;
    }

    .popup_btn {
      position: relative;
      left: 50%;
      margin-top: 5px;
      transform: translate(-50%, 0%);
      cursor: pointer;
    }
    
    .addr, .phone, .email {
      display: block;
      margin-bottom: -12px;
      font-size: 12px;
      text-decoration: none;
      color: #f0d8d9;
    }
    
    .email {
      margin-left: -2px;
    }
    
    .phone {
      margin-left: -1px;
    }

    .contact-information__img {
      margin-right: 10px;
    }
    
    .contact-information-box {
      margin-top: 25px;
      margin-left: 4px;
    }

    .anchor {
      display: block;
      position: relative;
      top: -140px;
      visibility: hidden;
    }



    @media (max-width: 768px) {
      .portfolio-image {
        width: calc(100% / 3 - 20px);
      }
    }



    @media (max-width: 375px) {
      .portfolio-items {
        margin-right: -10px;
      }

      .portfolio-image {
        margin-right: 10px;
        margin-bottom: 10px;
        width: calc(50% - 10px);
      }

      .portfolio-image:nth-child(n+9) {
        display: none;
      }

      .person {
        width: 100%;
        margin-top: 20px;
        
      }

      .form {
        flex-basis: 100%;
      }
      
      .contact-information {
        margin-top: 20px;
        flex-basis: 100%;
      }

      .btn-submit {
        width: 100%;
      }
    }