    @import './assets/fonts/fonts.css' screen;
    
    * {
      font-family: Lato, sans-serif;
    }
    
    html {
      scroll-behavior: smooth;
    }
    
    body {
      margin: 0;
    }

    .header {
      background-color: #2d303a;
      border-bottom: 6px solid #323746;
      position: sticky;
      top: 0;
      z-index: 3;
    }
    
    .slider {
      background-color: #f06c64;
      border-bottom: 6px solid #ea676b;
      transition: all ease 1s;
    }

    .slider-blue {
      background-color: #648bf0;
      border-bottom: 6px solid #348bf0;
      transition: all ease 1s;
    }

    .services {
      background-color: #f2f2f2;
      border-bottom: 6px solid #ffffff;
      display: flex;
      flex-direction: row; 
      justify-content: flex-start; 
    }

    .wrapper {
      max-width: 1000px;
      margin: 0 auto;
      padding-left: 30px;
      padding-right: 30px;
    }
    
    .hamburger {
      position: absolute;
      left: 15px;
      width: 25px;
      height: 20px;
      display: none;
      z-index: 5;
    }

    .hamburger__opened {
      transform: rotate(90deg);
    }

    .header-box {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 16px 0 12px 0;
    }

    .header-navigation {
      padding-top: 7px;
    }

    .logo {
      color: #ffffff;
      font-size: 12px;
      font-weight: bold;
    }
 
    .logo__star {
      color: #f06c64;
    }
 
    .header-menu {
      display: flex; 
      flex-direction: row; 
      justify-content: flex-start; 
    }

    .header-menu__item {
      margin-left: 14px;
      color: #494e62;
      font-weight: bold;
      font-size: 12px;
      list-style: none;
    }

    .header-menu__item:not(:first-child)::before {
      align-items:center;
      content: "";
      display: inline-block;
      width: 3px;
      height: 3px;
      background-color: currentColor;
      border-radius: 50%;
      margin-right: 11px;
      margin-bottom: 3px;
      letter-spacing: -0.9px;
    }

    .header-menu__link {
      text-decoration: none;
      color: #ffffff;
    }

    .header-menu_active {
      color: #f06c64;
    }

    .slider-items {
      position: relative;
      overflow: hidden;
      width: 100%;
      max-height: 585px; 
      height: 58.5vw;
      box-sizing: border-box;
    }

    .slider-image {
      position: absolute;
      width: 100%;
      height: 100%;
      transition: all ease 1s;
    }

    .first-image {
      display: flex;
      justify-content: center; 
      align-items: center;
    }

    .other-image {
      display: flex;
      justify-content: center; 
      align-items: center;
    }

    .other-image img {
      width: 100%;
      height: auto;
    }

    .slider-items__right-phone {
      margin-left: 14%;
      width: calc(47% + 0px);
      height: auto;
    }

    .slider-items__right-phone img {
      width: 100%;
      height: 100%;
    }

    .right-phone-black-screen {
      position: absolute;
      width: 32.4%;
      height: 31.4%;
      background-color: black;
      top: 32%;
      left: 51.8%;
      border-radius: 1px;
    }

    .right-phone-switcher {
      position: absolute;
      width: 44.5%;
      height: 36%;
      border-radius: 8.9%;
      background-color: rgba(90, 190, 90, 0);
      top: 29.6%;
      left: 46%;
      cursor: pointer;
    }

    .slider-items__left-phone {
      margin-left: 0.9%;
      width: 24.1%;
    }

    .slider-items__left-phone img {
      width: 100%;
      height: 100%;
    }
    
    .left-phone-switcher {
      position: absolute;
      width: 21.7%;
      height: 78.7%;
      border-radius: 8.9%;
      background-color: rgba(90, 190, 90, 0);
      top: 8.1%;
      left: 7.9%;
      cursor: pointer;
    }

    .left-phone-black-screen {
      position: absolute;
      width: 19%;
      height: 57.2%;
      background-color: black;
      border-radius: 1px;
      top: 19.3%;
      left: 9.3%;
    }

    .slider-items__left-arrow {
      position: absolute;
      top: 50%;
      opacity: 0.3;
      z-index: 1;
      transform: translate(0%, -50%);
    }

    .slider-items__right-arrow {
      position: absolute;
      z-index: 1;
      top: 50%;
      right: 0%;
      opacity: 0.3;
      transform: translate(0%, -50%);
    }

    .slider-items__right-arrow img {
      -webkit-transform: scaleX(-1);
    }
 
    .arrow_hover {
      cursor: pointer;
    }

    .hidden {
      display: none;
    }

    .services {
      padding: 46px 0 42px 0;
      color: #666d89;
    }

    .services__title {
      font-size: 30px;
      line-height: 18px;
      font-weight: 900;
    }
    
    .services__description {
      font-weight: 300;
      font-size: 18px;
      line-height: 30px;
      text-align: justify;
      letter-spacing: -0.2px;
    }

    .services-items {
      display: flex;
      flex-direction: row; 
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 30px;
    }

    .services-item {
      display: flex;
      flex-direction: row; 
      justify-content: flex-start; 
      margin-bottom: 5px;
      
    }

    .services-item__icon {
      width: 59px;
      height: 59px;
      margin-top: 15px;
      margin-right: 20px;
    }

    .services-item__title {
      font-size: 18px;
      font-weight: 900;
      margin-left: 1px;
      margin-top: 14px;
      margin-bottom: -4px;
    }

    .services-item__description {
      font-size: 12px;
      line-height: 21px;
      width: 220px;
      text-align: justify;
      overflow: hidden;
      max-height: 63px;
    }


    .portfolio {
      display: flex;
      flex-direction: row; 
      justify-content: flex-start; 
      background-color: #2d303a;
      padding-top: 47px;
      border-bottom: 6px solid #323746;
    }
    
    .about {
      display: flex;
      flex-direction: row; 
      justify-content: space-between;
      flex-wrap: wrap;
      padding-top: 46px;
      padding-bottom: 60px;
      background-color: #f2f2f2;
      border-bottom: 6px solid #ffffff;
    }
    
    .persons {
      display: flex;
      flex-direction: row; 
      justify-content: center; 
      flex-wrap: wrap;
      margin-top: 43px;
      margin-right: -20px;
    }
    
    .person {
      display: flex;
      flex-direction: column; 
      justify-content: flex-start; 
      min-width: 210px;
      width: calc(100% / 3 - 20px);
      margin-right: 20px;
    }
    
    .person-image {
      width: calc(100%);
    }
    
    .portfolio-items {
      display: flex;
      flex-direction: row; 
      justify-content: center;
      flex-wrap: wrap;
      padding-top: 19px;
      padding-bottom: 46px;
      margin-right: -20px;
    }

    .portfolio-image-active {
      outline: 5px solid #f06c64;
    }
    
    .portfolio-image {
      width: calc(25% - 20px);
      height: auto;
      margin-bottom: 20px;
      margin-right: 20px;
      cursor: pointer;
    }
    
    .portfolio-image:nth-child(n+13) {
      display: none;
    }
    
    .portfolio-title {
      font-size: 30px;
      line-height: 11px;
      font-weight: 900;
      line-height: 18px;
      letter-spacing: 0.3px;
      color: #666d89;
    }
    
    .portfolio-description {
      color: #767e9e;
      font-size: 18px;
      line-height: 30px;
      letter-spacing: -0.34px;
      padding-top: 10px;
    }
    
    .about-description {
      color: #767e9e;
      font-size: 18px;
      line-height: 30px;
      letter-spacing: -0.34px;
      text-align: justify;
      margin-top: 26px;
    }
    
    .person-name {
      font-size: 19px;
      line-height: 18px;
      font-weight: 760;
      margin-top: 19px;
      letter-spacing: -0.55px;
      color: #666d89;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    
    .person-description {
      color: #767e9e;
      font-size: 12px;
      line-height: 21px;
      margin-top: -6px;
      text-align: justify;
    }
    
    .contacts {
      display: flex;
      justify-content: start;
      color: #666d89;
      margin-top: 10px;
    }
    
    .contacts__img {
      margin-right: 6px;
      cursor: pointer;
      transition: .6s ease-out;
    }
    
    .contacts__img:hover {
      transform: scale(1.1);
      transform: rotate(360deg);
    }

    .btn {
      color: #767e9e;
      border: 1px solid #666d89;
      border-radius: 5px;
      cursor: pointer;
      background-color: transparent;
      line-height: 18px;
      font-size: 12px;
      margin-right: 7px;
      font-weight: 530;
    }

    .btn:focus {
      outline: none;
    }
    
    .btn:hover {
      border: 1px solid #c5c5c5;
      color: #dedede;
    }

    .btn__active {
      border: 1px solid #c5c5c5;
      color: #dedede;
    }

    .footer__contacts {
      display: flex;
      color: #666d89;
    }
    
    .footer__contacts:last-child {
      margin-right: -6px;
    }
    
    .contacts__img {
      margin-right: 6px;
      cursor: pointer;
    }
    
    .footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 21px;
      padding-bottom: 18px;
      color: #666d89;
      font-size: 12px;
    }
    
    footer {
      background-color: #2d303a;
    }
    
    .title {
      font-size: 30px;
      line-height: 11px;
      font-weight: 900;
      line-height: 18px;
      letter-spacing: -0.15px;
      color: #f0d8d9;
    }
    
    .description {
      color: #f0d8d9;
      font-size: 18px;
      line-height: 30px;
      letter-spacing: -0.34px;
      text-align: justify;
      margin-top: 26px;
    }
        
    .quote {
      padding-top: 46px;
      padding-bottom: 20px;
      background-color: #f06c64;
      border-bottom: 6px solid #ea676b;
    }   

    .quote-wrapper {
      display: flex;
      flex-direction: row; 
      flex-wrap: wrap;
      justify-content: center;
      margin-right: -20px;
      padding-top: 24px;
    }
    
    .form {
      display: flex;
      flex-direction: column;
      width: calc(65% - 20px);
      margin-right: 20px;
    }
    
    .contact-information {
      margin-right: 20px;
      width: calc(35% - 20px);
      color: #f0d8d9;
    }
    
    .contact-information__header {
      margin-block-start: -1px;
      letter-spacing: -0.05px;
      margin-block-end: -2px;
    }
    
    .contact-information__description {
      margin-top: 8px;
      font-size: 12px;
      line-height: 22px;
      letter-spacing: -0.1px;
      text-align: justify;
      hyphens: manual;
    }
    
    .input {
      font-size: 12px;
      font-weight: 400;
      line-height: 35px;
      border-radius: 5px;
      border: none;
      background-color: #d6564f;
      margin-bottom: 17px;
      padding-left: 15px;
      color: #f0d8d9;
    }
    
    .input::placeholder {
      color: #f48c8f;
    }
    
    .input-txt {
      height: 198px;
      resize: none;
    }
    
    .btn-submit {
      height: 38px;
      width: 136px;
      font-size: 12px;
      font-weight: bold;
      border-radius: 5px;
      border: none;
      background-color: #fbc65f;
      cursor: pointer;
      color: #886a30;
    }

    .popup {
      position: fixed;
      background-color: rgba(0, 0, 0, 0.9);
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: 99;
    }

    .popup__inside {
      position: fixed;
      border: 3px solid rgb(58, 58, 58);
      border-radius: 4px;
      background-color: rgb(202, 202, 202);
      left: 50%;
      top: 50%;
      padding: 20px;
      transform: translate(-50%, -50%);
    }
  
    .popup__text {
      max-width: 500px;
      max-height: 300px;
      overflow: hidden;
      text-align: justify;
      line-height: 20px;
    }

    .popup_btn {
      position: relative;
      left: 50%;
      margin-top: 5px;
      transform: translate(-50%, 0%);
      cursor: pointer;
    }
    
    .addr, .phone, .email {
      display: block;
      margin-bottom: -12px;
      font-size: 12px;
      text-decoration: none;
      color: #f0d8d9;
    }
    
    .email {
      margin-left: -2px;
    }
    
    .phone {
      margin-left: -1px;
    }

    .contact-information__img {
      margin-right: 10px;
    }
    
    .contact-information-box {
      margin-top: 25px;
      margin-left: 4px;
    }

    .anchor {
      display: block;
      position: relative;
      top: -140px;
      visibility: hidden;
    }

    @media (max-width: 767px) {
      .anchor {
        top: -96px;
      }

      .header-navigation {
        position: fixed;
        display: flex;
        transition: all ease 0.6s;

        padding: 0;
        align-items: center;
        /* flex-direction: column; */
        top: 0;
        left: -100%;
        width: 278px;
        height: 100vh;
        /* box-shadow: cadetblue; */
        background-color: #2D303A;
      }

      .header-menu {
        display: flex; 
        flex-direction: column; 
        justify-content: center; 
      }
  
      .header-menu__item {
        margin-left: 30px;
        
        font-weight: bold;
        font-size: 22px;
        line-height: 50px;
        list-style: none;
        
      }
  
      .header-menu__item:not(:first-child)::before {
        content: none;
      }

      .logo {
        position: relative;
        font-size: 10px;
        left: 50%;
        transform: translate(-50%, 0%);
        z-index: 50;
        transition: all ease 0.6s;
      }

      .header {
        border-bottom: none;
      }

      .header-box {
        padding: 0;
      }

      .hamburger {
        display: block;
        transition: all ease 0.6s;
      }
      
    }


    @media (max-width: 768px) {
      .left-phone-switcher {
        width: 21.7%;
        height: 72.7%;
        top: 11.1%;
        left: 7.9%;
      }

      .right-phone-switcher {
        width: 44.5%;
        height: 33%;
        top: 31%;
        left: 46%;
      }
      
      .portfolio-image {
        width: calc(100% / 3 - 20px);
      }

      .left-phone-black-screen {
        width: 19%;
        height: 52.8%;
        top: 21.6%;
        left: 9.3%;
      }

      .right-phone-black-screen {
        width: 32.45%;
        height: 28.9%;
        top: 33.24%;
        left: 51.8%;
      }

      .services-items {
        padding-right: 30px;
      }
    }



    @media (max-width: 375px) {

      .left-phone-switcher {
        width: 21.7%;
        height: 66.2%;
        top: 13.9%;
        left: 7.9%;
      }

      .right-phone-switcher {
        width: 44.5%;
        height: 30.2%;
        top: 32.1%;
        left: 46%;
      }
      
      .left-phone-black-screen {
        width: 19.1%;
        height: 48%;
        top: 23.4%;
        left: 9.1%;
      }

      .right-phone-black-screen {
        width: 32.45%;
        height: 26.9%;
        top: 33.9%;
        left: 51.8%;
      }

      .services-items {
        padding-right: 0px;
      }

      .portfolio-items {
        margin-right: -10px;
        padding-bottom: 20px;
      }

      .portfolio-image {
        margin-right: 10px;
        margin-bottom: 10px;
        width: calc(50% - 10px);
      }

      .portfolio-image:nth-child(n+9) {
        display: none;
      }

      .person {
        width: 100%;
        margin-top: 20px;
        
      }

      .form {
        flex-basis: 100%;
      }
      
      .contact-information {
        margin-top: 20px;
        flex-basis: 100%;
      }

      .btn-submit {
        width: 100%;
      }
    }

    
    @media (hover: hover) {
      .header-menu__link:hover {
        color: #f06c64;
      }
    }
