    @import './assets/fonts/fonts.css' screen;
    
    body {
        margin: 0;
        font-family: Lato, sans-serif;
    }

    header {
        background-color: #2d303a;
        border-bottom: 6px solid #323746;
    }
    
    .slider {
        background-color: #f06c64;
        border-bottom: 6px solid #ea676b;
    }

    .services {
        background-color: #f2f2f2;
        border-bottom: 6px solid #ffffff;
        display: flex;
        flex-direction: row; 
        justify-content: flex-start; 
    }

    .wrapper {
        width: 940px;
        margin: 0 auto;
    }
    
    .header-box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 16px 0 12px 0;
    }

    .header__navigation {
        padding-top: 7px;
    }

    .logo {
        color: #ffffff;
        font-size: 12px;
        font-weight: bold;
    }
 
    .header__star {
        color: #f06c64;
    }
 
    ul {
        display: flex; 
        flex-direction: row; 
        justify-content: flex-start; 
    }

    li {
        margin-left: 14px;
        color: #494e62;
        font-weight: bold;
        font-size: 12px;
        list-style: none;
    }

    li:not(:first-child)::before {
        align-items:center;
        content: "";
        display: inline-block;
        width: 3px;
        height: 3px;
        background-color: currentColor;
        border-radius: 50%;
        margin-right: 11px;
        margin-bottom: 3px;
        letter-spacing: -0.9px;
    }

    a {
        text-decoration: none;
        color: #ffffff;
    }
    
    a:hover {
        color: #f06c64;
    }

    .slider-items {
        display: flex;
        flex-direction: row; 
        justify-content: space-between; 
        align-items: center;
        padding: 53px 0;
    }

    .slider-items__left-arrow {
        margin-left: 2px;
       -webkit-transform: scaleX(-1);
    }

    .slider-items__right-phone {
        margin-left: 19px;
        margin-top: -1px;
    }

    .slider-items__right-arrow {
        margin-left: 1px;
    }

    .services {
        padding: 50px 0 50px 0;
    }

    .services__header {
        color: #666d89;
        font-size: 30px;
        line-height: 18px;
        font-weight: 900;
    }
    
    .services__paragraph {
        color: #767e9e;
        font-weight: 300;
        font-size: 18px;
        line-height: 30px;
        text-align: justify;
        letter-spacing: -0.2px;
    }

    .services__items {
        display: flex;
        flex-direction: row; 
        justify-content: flex-start; 
    }